@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&display=swap');

:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --cor6:#ffffff;
    --cor7:#000000;
    --cor8:#202124;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;
}

@font-face {
    font-family: Android;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--cor1);
    margin: 0px auto;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    padding: 40px 0 40px 0;
    min-width: 420px;
}

header > h1 {
    color: var(--cor6);
    font-family: var(--fonte-destaque);
    font-size: 3em;  
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.226);   
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);   
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.226);    
}

nav {
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.418);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    flex-flow: row wrap;
    position: sticky;
    top: 0;
    min-width: 420px;
}

nav > a {
    color: var(--cor6);
    font-weight: bold; 
    border-radius: 5px; 
    transition-duration: 0.5s; 
    text-decoration: none;
    margin: 5px 10px 5px 10px;
    padding: 7px;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    text-decoration: none;
}

.button{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;   
}



#b1 {
    font-size: 2em;
    background-color: transparent;
    border: 0;
    color: var(--cor6);
}

.container {
    min-width: 420px;
    max-width: 1000px;
    margin: 0 auto;
}

main {
    background-color: var(--cor6);
    /* display: block; */
    /* margin-bottom: 20px; */

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
}

main img {
    width: 100%;
}

article {
    padding: 15px;
}

article > h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor1), var(--cor6));
}

article > h2 { 
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), var(--cor6));
    color: var(--cor5);
}

article > p{
    font-family: var(--fonte-padrao);
    margin: 5px;
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 10px;
}

.green-bar {
    display: flex;
    justify-content: center; 
    min-width: 300px;   
    align-content: center;    
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px -15px 0px -15px;
    flex-direction: column;

    background-color: var(--cor5);
    color: var(--cor6);
    padding: 15px;
}

main img.small{
    margin: auto;
    display: block;
    max-width: 350px;
}

a {
    text-decoration: none;
    color: var(--cor5);
}

iframe {
    height: 600px;    
    width: 85%;
    display: block;
    margin: auto;
}

.box {
    background-color: var(--cor0);
    border-radius: 10px 10px 10px 10px;
    margin: 20px; 
    border: solid 1px var(--cor5)
}

.box > p {
    padding: 10px;
    color: var(--cor7);
}

.box > h3 {
    background-color: var(--cor5);
    color: white;
    padding: 15px;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
}

.box > ul{
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    padding: 10px;
    color: var(--cor7);
}

abbr {
    text-decoration: none;
}

footer {
    background-color: #063d1e;
    color: var(--cor6);    
    padding-top: 5px;
    display: block;
    margin-top:10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.425);    
}

footer > p {
    color: white;
    text-decoration: none;
}

footer a {
    color: white;   
}

@media (max-width: 600px) {
    iframe {
        height: 400px;        
    }
    nav{
        position: sticky;
        top: 0;
    }
    body{
        align-items: center;
    }
}

a.external::after {
    content: '\00A0\1F517';
    text-decoration: none;
}
